@font-face {
  font-family: 'Roboto Condensed';
  src: url('/assets/fonts/Roboto/RobotoCondensed-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('/assets/fonts/Roboto/RobotoCondensed-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('/assets/fonts/Roboto/RobotoCondensed-LightItalic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'RF Rufo';
  src: url('/assets/fonts/RFRufo/RFRufo-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'RF Rufo';
  src: url('/assets/fonts/RFRufo/RFRufo-Semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'RF Rufo';
  src: url('/assets/fonts/RFRufo/RFRufo-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
